html {
  scroll-snap-type: y mandatory;
}
.app {
  height: 100wh;
  background-color: black;
  display: grid;
  place-items: center;
}
.app__videos {
  position: relative;
  height: 800px;
  border-radius: 20px;
  overflow: scroll;
  place-items: center;
  width: 80%;
  max-width: 500px;
  scroll-snap-type: y mandatory;
}

.app__videos::-webkit-scrollbar {
  display: none;
}
.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
